.card-alt {
    text-align: center;
    padding: 2rem 1rem 1rem;
    color: $white;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 100%;
    max-width: 350px;
    margin: 0 auto;

    @include media-breakpoint-up(sm){
        background-size: 100%;
        max-width: 100%;
    }

    @include media-breakpoint-up(xl){
        padding: 3rem 2rem 2rem;
    }
    @include media-breakpoint-up(xxl){
        padding: 4.8125rem 3.125rem 4.0625rem;
    }

    &:before {
        content: '';
        opacity: .9;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &__icon {
        display: inline-block;
        font-size: 3.125rem;
        margin-bottom: 1rem;

        @include media-breakpoint-up(xl){
            font-size: 4.375rem;
            margin-bottom: 1.3rem;
        }
    }

    &__heading{
        font-size: 1.3125rem;
        margin-bottom: .8rem;

        @include media-breakpoint-up(xl){
            font-size: 1.5rem;
        }
    }
}

.card-alt01 {
    background-image: url('#{$site-image-path}/shape-purple.png');
    box-shadow: 0px 0px 15px rgba($purple-300, .35);

    &:before {
        background: $purple-200;
    }
}

.card-alt02 {
    background-image: url('#{$site-image-path}/shape-yellow.png');
    box-shadow: 0px 0px 15px rgba($yellow-100, .35);
    &:before {
        background: $yellow-200;
    }
}

.card-alt03 {
    background-image: url('#{$site-image-path}/shape-pink.png');
    box-shadow: 0px 0px 15px rgba($pink-100, .35);
    &:before {
        background: $pink-100;
    }
}

.card-alt04 {
    background-image: url('#{$site-image-path}/shape-orange.png');
    box-shadow: 0px 0px 15px rgba($color-secondary-100, .35);
    &:before {
        background: $color-secondary-100;
    }
}

.card-alt05 {
    background-image: url('#{$site-image-path}/shape-blue.png');
    box-shadow: 0px 0px 15px rgba($blue-100, .35);
    &:before {
        background: $blue-100;
    }
}

.card-alt06 {
    background-image: url('#{$site-image-path}/shape-green.png');
    box-shadow: 0px 0px 15px rgba($green-100, .35);
    &:before {
        background: $green-100;
    }
}